/*
 * Copyright (c) 2020 George Gkinis
 * SPDX-License-Identifier: Apache-2.0
 */

 / {
	aliases {
		hx711-sensor = &hx711;
	};

	hx711:hx711 {
			compatible = "avia,hx711";
			status = "okay";
			label = "HX711";
			offset = <1000>;
			slope = <1 2>;
			calibration-weight = <500 5>;
			sample-fetch-timeout-ms = <700>;
			gain = <1>;
			rate-hz = <1>;
			disable-interrupts-while-polling;

    		dout-gpios = <&gpio0 30 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
    		sck-gpios = <&gpio0 29 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
    		rate-gpios = <&gpio0 31 GPIO_ACTIVE_HIGH>;
		};
};